.navbar-fixed
  %nav
    .nav-wrapper
      %a{href: "#!", class: "brand-logo"}= data.site.title
      %ul.right.hide-on-med-and-down
        %li
          -# tooltipped(tooltip: "Search", pos: :bottom) do
          = link_to_dropdown :search, content: icon(:search)
        %li
          -# tooltipped(tooltip: "Articles", pos: :bottom) do
          = link_to_modal :pages, content: icon(:book)
        %li
          -# tooltipped(tooltip: "Articles", pos: :bottom) do
          = link_to_sidenav :articles, content: icon(:description)
